
 .navBar {
   background-color: #ED0095;
}

 .fondoAzul{
  background-image: "url(" + '../images/FondoAzul.png' + ")";

 }
.fondoAzul{
 background-image: "url(" + '../images/FondoAzul.png' + ")";

}
